# Airflow logs sort example:
GREP_REGEXP="^run_id=(manual|scheduled)__"
SED1_REGEXP="s/^run_id=([^_]+)__(.*)$/\2 \1/"
SED2_REGEXP="s/^([0-9].*) ([a-z]+)$/run_id=\2__\1/"
FOLDER_PATH=/full/path/to/dags/logs/folder
SERVICE_POSTFIX=prod
NUM_LAST_DIRS=3
NUM_LAST_ARCS=3
