ACTION=="add", SUBSYSTEM=="block", \
KERNEL=="sd*[0-9]*", \
ENV{DEVTYPE}=="partition", \
ENV{ID_FS_USAGE}=="filesystem", \
RUN+="/usr/bin/systemd-mount --no-block --automount=yes --collect \
    --options=uid=1000,gid=1000,umask=002,noexec,nodev,nosuid,noatime \
    /dev/%k /media/usb-%k"

ACTION=="remove", SUBSYSTEM=="block", KERNEL=="sd*[1-9]*", \
    RUN+="/usr/local/bin/cleanup-usb-mount.sh %k"
